
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #0074c2;
  }
  .r{
    font-size: 12px;
  }
  
  .navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .navbar a:hover {
    color: #0074c2;
  }
  .icon-1{
    height: 5px;
    width: 5px;
  }

  
  
.hero {
    position: relative;
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2025/03/24/VRBO_APFT2_BARCELONA_THERIN_HOUSE_2_4605_1.png?impolicy=fcrop&w=1920&h=580&q=medium');
    background-size: cover;
    background-position: center;
    height: 580px;
    color: white;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .search-bar {
    display: flex;
    background: white;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 900px;
    align-items: center;
  }
  
  .input-box {
    display: flex;
    flex-direction: column; 
    padding: 5px 10px;
    border: 1px solid ;
    border-radius: 10px;
     flex: 1; 
    min-width: 200px;
  }
  
  .input-box input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .input-box label {
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
  }
  
  .search-btn {
    background-color: #0072CE;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .article-section {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    background-color:rgb(14, 5, 34);
    display: flex;
    height: 5rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
  }
  .article-section strong{
    color: white;
    font-size: 18px;
    margin-left: 20px;
  }
  .article-section button{
    background-color: #0072CE;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 600;

  }
  .article1{
    margin-left: 120px;
    margin-top: 30px;
    color: rgb(14, 5, 34);;
    font-size: 18px;}
    .accommodation-images {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;  
      }
      
      .accommodation-image {
        position: relative;
      
        flex: 0 0 calc((100% - 40px) / 5);
        box-sizing: border-box;
      }
      
      .accommodation-image img {
        width: 100%;
        height: 250px;
        border: none;
        border-radius: 10px;
        display: block;
        margin-left: 40px;
      }
      
      .text-on-image {
        position: absolute;
        bottom: 5px;
        left: 10px;
        right: 10px;
        color: #fff;
        padding: 5px;
        font-size: 1em;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
      }


      
    .accommodation-images1 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;  
        gap: 50px;
        padding-left: 0px;
      }
      
      .accommodation-image1 {
        position: relative;
      
        flex: 0 0 calc((100% - 40px) / 5);
        box-sizing: border-box;
      }
      
      .accommodation-image1 img {
        width: 110%;
        height: 300px;
        border: none;
        border-radius: 10px;
        display: block;
        
      }
      .acc-li{
        display: flex;
      }
      
